<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
    <key>NSSensorKitUsageDescription</key>
    <string>This app collects data passively from your phone to help understand if the collected data could help to diagnose ADHD.</string>
    <key>NSSensorKitPrivacyPolicyURL</key>
    <string>https://www.richmond.edu/</string>
    <key>NSSensorKitUsageDetail</key>
    <dict>
        <key>SRSensorUsageMotion</key>
        <dict>
            <key>Description</key>
            <string>This app utilizes motion data by inputting the data into a machine learning model with the intent of uncovering any possible links to a potential ADHD symptoms.</string>
            <key>Required</key>
                <true/>
        </dict>
        <key>SRSensorUsageDeviceUsage</key>
        <dict>
            <key>Description</key>
            <string>This app utilizes device usage data by inputting the data into a machine learning model with the intent of uncovering any possible links to a potential ADHD symptoms.</string>
            <key>Required</key>
                <true/>
        </dict>
        <key>SRSensorUsageKeyboardMetrics</key>
        <dict>
            <key>Description</key>
            <string>This app utilizes keyboard metric data data by inputting the data into a machine learning model with the intent of uncovering any possible links to a potential ADHD symptoms.</string>
            <key>Required</key>
                <true/>
        </dict>
        <key>SRSensorUsageMessageUsage</key>
        <dict>
            <key>Description</key>
            <string>This app utilizes data from the messages app by inputting the data into a machine learning model with the intent of uncovering any possible links to a potential ADHD symptoms.</string>
            <key>Required</key>
                <true/>
        </dict>
        <key>SRSensorUsagePedometer</key>
        <dict>
            <key>Description</key>
            <string>This app utilizes pedometer and step data by inputting the data into a machine learning model with the intent of uncovering any possible links to a potential ADHD symptoms.</string>
            <key>Required</key>
                <true/>
        </dict>
        <key>SRSensorUsagePhoneUsage</key>
        <dict>
            <key>Description</key>
            <string>This app utilizes phone usage data by inputting the data into a machine learning model with the intent of uncovering any possible links to a potential ADHD symptoms.</string>
            <key>Required</key>
                <true/>
        </dict>
        <key>SRSensorUsageVisits</key>
        <dict>
            <key>Description</key>
            <string>This app utilizes data on location visits by inputting the data into a machine learning model with the intent of uncovering any possible links to a potential ADHD symptoms.</string>
            <key>Required</key>
                <true/>
        </dict>
        <key>SRSensorUsageSpeechMetrics</key>
        <dict>
            <key>Description</key>
            <string>This app utilizes speech metrics data by inputting the data into a machine learning model with the intent of uncovering any possible links to a potential ADHD symptoms.</string>
            <key>Required</key>
                <true/>
        </dict>
    </dict>
</dict>
</plist>
